<template>
  <div id="start" class="viewContainer-top">
    <div class="wrapper">
      <h1>Noah Porfido</h1>
      <div>
        <h2>frontend developer</h2>
      </div>
    </div>
  </div>
</template>
<script src="./Start.js"></script>
<style src="./Start.scss" lang="scss" scoped></style>
