@import "../../../../assets/styles/general.scss";

.card-container {
  min-width: 200px;
  width: 30%;
  height: 300px;
  margin: 0 20px;
  border: 1px solid #d6d6d6;
  position: relative;
  background-color: #fad78c;

  .card-border {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px dashed #bbb3a2;
    bottom: -15px;
    right: -15px;

    .card-content {
      padding: 20px;
      position: relative;
      height: 100%;

      button {
        position: absolute;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        align-items: center;
        bottom: -1px;
        height: 50px;
        width: 150px;
        left: -1px;
        background-color: #faefd8;
        border: none;
        cursor: pointer;

        i {
          &::before {
            transition: content 0.5s;
          }
        }
      }
    }
  }

  .card-background {
    background-size: cover;
    background-position: 45%;
    height: 100%;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// @media screen and (min-width: 410px) {
//   .card-container {
//     min-width: 300px;
//   }
// }

// @media screen and (min-width: 760px) {
//   .card-container {
//     min-width: 400px;
//   }
// }
