<template>
  <div class="card-container">
    <div class="card-border">
      <div class="card-content">
        <h1>{{ Card.title }}</h1>
        <p>{{ Card.desc }}</p>

        <button @mouseover="hovered = true" @mouseout="hovered = false">
          <p>click me</p>
          <transition name="fade">
            <i v-if="!hovered" class="fa fa-plus" aria-hidden="true"></i>
            <i v-else class="fa fa-chevron-right" aria-hidden="true"></i>
          </transition>
        </button>
      </div>
    </div>
    <div class="card-background"></div>
  </div>
</template>

<script>
export default {
  name: "ProjectCard",
  props: { Card: Object },
  data() {
    return {
      hovered: false
    };
  }
};
</script>

<style src="./ProjectCard.scss" lang="scss" scoped></style>
