@import "../../../assets/styles/general.scss";

.project-section {
  .project-overflow {
    display: flex;
    height: 100%;
    transition: all 0.8s;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
  }
}

// .project-section {
//   .project-overflow {
//     display: flex;
//     height: 100%;
//     width: 100%;
//     transition: all 0.8s;
//     align-items: center;
//   }
// }
