<template>
  <div class="project-section">
    <!-- <div :style="`transform: translateX(${offsetX}px)`" class="project-overflow"> -->
    <div
      :style="`transform: translateX(${offsetX}px)`"
      @mouseover="calcOffsetX($event)"
      class="project-overflow"
    >
      <project-card :ref="`card-${index}`" v-for="(card, index) in cards" :key="index" :Card="card"></project-card>
    </div>
  </div>
</template>
<script src="./Project.js"></script>
<style src="./Project.scss" lang="scss" scoped></style>
