<template>
  <nav :class="{ scrolled: isStartScreen }">
    <div @click="expandMenuToggle" class="navigation-logo">
      <h1 :class="{expand: expanded}">N</h1>
    </div>
    <div :class="{expand: expanded}" class="navigation-links">
      <h2 :class="{ active: currentScreen === 0}" @click="redirect(0)">Home</h2>
      <h2 :class="{ active: currentScreen === 1 }" @click="redirect(1)">about me</h2>
      <h2 :class="{ active: currentScreen === 2 }" @click="redirect(2)">projects</h2>
      <h2 :class="{ active: currentScreen === 3 }" @click="redirect(3)">ambitions</h2>
    </div>
  </nav>
</template>
<style lang="scss" src="./Navigation.scss"></style>
<script src="./Navigation.js"></script>
