@import "../../assets/styles/general.scss";

nav {
  position: fixed;
  z-index: 2;
  width: 100%;

  .navigation-logo {
    float: right;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 30px 30px 0 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    h1 {
      z-index: 3;
      color: $color-white;
      transition: all 0.2s ease-in;
      user-select: none;
      &.expand {
        transform: rotate(90deg);
        color: black;
      }
    }
  }

  .navigation-links {
    height: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
    background-color: $color-white;
    position: absolute;
    z-index: 2;

    &.expand {
      height: 100vh;
      transition: all 0.2s ease-in;

      h2 {
        font-size: $title-large;
        margin-left: 20px;
        opacity: 1;

        &.active {
          &::after {
            width: 100%;
            opacity: 1;
          }
        }
      }
    }
    h2 {
      opacity: 0;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 1px;
        border-bottom: 2px dashed black;
      }
    }
  }
}

// nav {
//   display: flex;
//   padding: 25px;
//   justify-content: space-between;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   height: 80px;
//   z-index: 2;
//   position: fixed;

//   &.scrolled {
//     // display: none;
//   }

//   .navigation-logo {
//     border-radius: 50%;
//     height: 50px;
//     width: 50px;
//     background-color: black;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     h1 {
//       color: $color-white;
//       transition: transform 0.2s ease-in;
//       &.expand {
//         transform: rotate(90deg);
//       }
//     }
//   }

//   h1 {
//     cursor: pointer;
//   }

//   .navigation-links {
//     position: fixed;
//     height: 100vh;
//     width: 100%;
//     background-color: red;
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;

//     p {
//       margin: 0 10px;
//       cursor: pointer;
//       font-size: 20px;
//       position: relative;
//       animation: fadein;

//       &:nth-of-type(1) {
//         animation-duration: 1s;
//       }

//       &:nth-of-type(2) {
//         animation-duration: 2s;
//       }

//       &:nth-of-type(3) {
//         animation-duration: 3s;
//       }

//       &::after {
//         width: 0;
//         transition: all 0.2s;
//         content: "";
//         position: absolute;
//         height: 2px;
//         bottom: -5px;
//         right: 0;
//         background-color: black;
//         opacity: 0;
//       }

//       &:hover {
//         &::after {
//           width: 100%;
//           opacity: 1;
//         }
//       }

//       &.active {
//         &::after {
//           width: 100%;
//           opacity: 1;
//         }
//       }
//     }
//   }
// }

// @keyframes fadein {
//   from {
//     opacity: 0;
//     transform: translateY(20px);
//   }

//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }
