<template>
  <div class="about-section">
    <div class="about-content">
      <img
        style="height: 50px"
        class="about-img"
        src="../../../assets/foto_noah.jpg"
      />
    </div>
  </div>
</template>
<script src="./About.js"></script>
<style src="./About.scss" lang="scss" scoped></style>
