@import "../../../assets/styles/general.scss";

.about-section {
  color: white;

  h1 {
    font-size: 80px;
    margin-bottom: 100px;
  }

  .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      p {
        padding: 10px 0;
        font-size: 1.4rem;
        // animation: fadein 1s;
      }
    }

    .about-img {
      height: 500px;
    }
  }
}