<template>
  <div class="container">
    <article>
      <h2>Noah Porfido</h2>
      <p>Coming Soon</p>
      <h1>Portfolio</h1>
      <div class="socialmedia-container">
        <a
          href="https://www.linkedin.com/in/noah-porfido-60268816a/"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              style="fill: white"
              d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
            />
          </svg>
        </a>
        <a href="mailto:noah.porfido@icloud.com">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              style="fill: white"
              d="M12 2.02c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 12.55l-5.992-4.57h11.983l-5.991 4.57zm0 1.288l-6-4.629v6.771h12v-6.771l-6 4.629z"
            />
          </svg>
        </a>
      </div>
    </article>
  </div>
</template>


<style lang="scss">
@charset "UTF-8";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.container {
  background: #000015;
  width: 100vw;
  height: 100vh;

  article {
    text-align: center;

    * {
      position: absolute;
      width: 100%;
      color: white;
    }

    h1 {
      top: 125px;

      text-transform: uppercase;

      font-size: 1.4rem;
      font-weight: 300;
      letter-spacing: 0.6rem;
      text-indent: 0.6rem;
    }

    h2 {
      font-size: 0.8rem;
      font-weight: 800;
      letter-spacing: 0.1rem;
      text-indent: 0.1rem;
      text-transform: uppercase;
      top: 100px;
    }

    p {
      top: 50%;
      margin: -1em 0 0;

      font-size: 3.5rem;
      font-weight: 800;
    }

    .socialmedia-container {
      display: flex;
      left: 50%;
      transform: translateX(-50%);
      bottom: 100px;
      width: 120px;
      height: 50px;
      justify-content: space-evenly;
      * {
        position: relative;
      }

      a {
        display: block;
        cursor: pointer;
        width: 25px;
        height: 25px;
      }
    }
  }
}
</style>