.viewContainer-container {
  .page {
    height: 100vh;
    padding: 80px 25px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s;
  opacity: 1;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
