<template>
  <div class="viewContainer-container">
    <ksvuefp :options="options" :sections="sections">
      <ksvuefp-section
        v-for="(section, index) in sections"
        :key="section.id"
        :section="section"
        :section-index="index"
        :background-color="section.backgroundColor"
      >
        <transition name="fade">
          <component class="page" :is="section.componentName"></component>
        </transition>
      </ksvuefp-section>
    </ksvuefp>
  </div>
</template>
<style lang="scss" src="./ViewContainer.scss" scoped></style>
<script src="./ViewContainer.js"></script>
