<template>
  <!-- <div id="app">
    <navigation></navigation>
    <div class="content">
      <router-view />
    </div>
  </div> -->
  <coming-soon></coming-soon>
</template>

<script>
import Navigation from "@/components/Navigation/Navigation.vue";
import ComingSoon from "@/components/ComingSoon.vue";

export default {
  components: { Navigation, ComingSoon }
};
</script>

<style lang="scss">
@import "./assets/styles/general.scss";

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  color: $primary-color;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  // html {
  //   background-color: black;
  //   scroll-behavior: smooth;
  //   body {
  //     overflow: hidden; /* Hide scrollbars */
  //   }

  //   #app {
  //     -webkit-font-smoothing: antialiased;
  //     -moz-osx-font-smoothing: grayscale;
  //   }
}
</style>
